body {
	font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

li {
    font-size: 1vw;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}

.dropdown-content a:hover {background-color: #ddd}

.w90m0auto {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    background-color: #0194ce;
}

.navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 10px;
    cursor: pointer;
}

.logo__img {
    width: 70px;
    height: 70px;
    float:left;
}

.logo__text {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 1vw;
    line-height: 15px;
    float:right;
}

.logo__des {
    color: #fff;
    display: block;
    font-size: 1vw;
    line-height: 15px;
}

.navbar__menu {
    width: 60%;
    display: block;
}

.header-topnav {
    margin: 0;
    padding: 0;
}

.navbar__menu ul {
    margin-top: 1vw;
    flex-wrap: wrap;
}

ul {
    display: flex;
}

.navbar__menu li {
    margin-right: 1.5vw;
    margin-bottom: 0.8vw;
}

.menu__links {
    color: #fff;
    font-size: 0.9vw;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__li {
    list-style: none;
}

.navbar_lang {
    display: grid;
}

.lang__change {
    color: #fff;
}

.search-bar {
    top: 11vw;
    height: 3vw;
    display: block;
    background-color: #1a4575;
}

.search-bar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searching__login {
    color: #fff;
    font-size: 0.9vw;
}

.img {
    margin-bottom: 60px;
}

.img-image {
    width: 100%;
    height: 400px;
    filter: blur(1px);
}

.info-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* shirtInfo */

.shirt-info {
    display: block;
    margin-bottom: 30px;
    padding-bottom: 30px;
    /* border-bottom: 1px solid #f0f2f5; */
}

.shirt-info-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #32373E;
}

.shirt-info-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.shirt-info-card {
    box-shadow: 0px 0px 2px rgba(39, 43, 45, 0.30);
    border-radius: 3px;
    background-color: #ffffff;
    width: 220px;
    height: 220px;
    padding: 40px;
    display: block;
    color: #32373E;
}

.shirt-info-card:hover {
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.085);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.085);
    border-radius: 3px;
    width: 220px;
    height: 220px;
    padding: 40px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.shirt-info-card-title {
    color: #32373E;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(46, 46, 49, 0.082);
}

.shirt-info-card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-top: 25px;
}

/* studyInfo */

.study-info {
    display: block;
    margin-bottom: 30px;
}

.study-info-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #32373E;
}

.study-info-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.study-info-card {
    box-shadow: 0px 0px 2px rgba(39, 43, 45, 0.30);
    border-radius: 3px;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding: 40px;
    display: block;
    color: #32373E;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .shirt-info-card-mr:not(:last-child) {
    margin-right: 20px;
} */

.study-info-card-active {
    background-color: #BC945B;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.study-info-card-title {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.study-content {
    display: none;
    /* display: block; */
    color: #32373E;
    padding-bottom: 30px;
    /* border-bottom: 1px solid #f0f2f5; */
}

.visible {
    display: block;
}

.study-content-text {
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 20px;
    text-align: justify;
}

.video-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    /* border-bottom: 1px solid #f0f2f5; */
}

.text {
    color: #32373E;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 30px;
    text-align: justify;
}

.gallery {
    margin-bottom: 60px;
}

.gallery-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #32373E;
}

.gal-img {
    margin: 5px;
    display: flex;
    width: 323px;
    height: 235px;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.gal-img:hover {
    -webkit-filter: brightness(60%);
}

.gallery-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.gallery-items:hover {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #1A4575;
    height: 225px;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 400;
    /* text-transform: uppercase; */
    line-height: 1.5;
}

.footer-text {
    display: flex;
    padding-top: 30px;
    margin-bottom: 20px;
}

.footer-address-text {
    margin-right: 60px;
}

.footer-contact-text {
    margin-right: 60px;
}

.social-links {
    color: #1a4575;
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.footer-container {
    display: block;
}


/* Header */

#header {
	width: 1000px;
	height: 128px;
	margin: 0 auto;
	padding: 0px 0px 0px 30px;
	background: url(images/img02.jpg) no-repeat left top;
}

/* Logo */

#logo {
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	letter-spacing: -1px;
	font-size: 3.8em;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 2px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: left;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	width: 980px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 130px;
	height: 30px;
	margin-right: 1px;
	padding: 9px 0px 0px 0px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	padding-left: 0;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	background: #EAEAEA url(images/img04.jpg) repeat-y left top;
	padding: 0px;
}

#page-bgtop {
	background: url(images/img03.jpg) no-repeat left top;
}

#page-bgbtm {
	background: url(images/img05.jpg) no-repeat left bottom;
	padding: 11px 20px 0px 10px;
}

/* Content */

#content {
	float: left;
	width: 618px;
	padding: 0px 0px 0px 0px;
}

.post {
	border-bottom: 1px dotted #E7E2DC;
	background: url(images/img06.jpg) repeat-x left top;
}

.post .title {
	letter-spacing: -.5px;
	padding: 20px 10px 0px 30px;
	font-size: 30px;
}

.post .title a {
	color: #3E3530;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px 30px 0px 30px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 30px 20px 30px;
	padding-bottom: 20px;
	text-align: justify;
	min-height: 400px;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 30px;
	margin: 0px 30px;
	padding: 0px 0px 0px 15px;
	border-left: none;
	background: url(images/img07.jpg) no-repeat left 15px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 32px;
	padding-left: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #D6D6D6;
	background: url(images/img08.jpg) no-repeat left 4px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #696969;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #4D4D4D;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

/* Comments-box */

.comments-box {
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.comments-box .comment {
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
}

.comment .avatar {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 7px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.comment .avatar img {
	width: 80px;
	height: 80px;
}

.comment .title {
	margin-bottom: 5px;
	height: auto;
	padding: 0;
	font-size: 18px;
}

.comment .title .author {
	font-weight: bold;
	font-size: 150%;
}

.comments-box form input {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
}

.comments-box form textarea {
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	height: 150px;
}

.comments-box img#captcha {
	margin-top: 5px;
}

.comments-box input#captcha_code {
	width: 90px;
}

.comments-box input#submit {
	width: 100px;
	height: 22px;
}

.comments-box h2 {
	clear: both;
}

/* contact-form */

.contact-form {
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact-form form input {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
}

.contact-form form textarea {
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	height: 150px;
}

.contact-form img#captcha2 {
	margin-top: 5px;
}

.contact-form input#captcha_code2 {
	width: 90px;
}

.contact-form input#submit2 {
	width: 100px;
	height: 22px;
}

h2 {
	clear: both;
}

.footer {
    background-color: #1A4575;
    height: 225px;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 400;
    /* text-transform: uppercase; */
    line-height: 1.5;
}

.footer-text {
    display: flex;
    padding-top: 30px;
    margin-bottom: 20px;
}

.footer-address-text {
    margin-right: 60px;
}

.footer-contact-text {
    margin-right: 60px;
}

.social-links {
    color: #1a4575;
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.footer-container {
    display: block;
}

/* STUDENTS */

.title-students {
    margin-bottom: 30px;
    margin-top: 60px;
    color: #32373E;
}


.table-info {
    margin-bottom: 60px;
    display: block;
}

.tables {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.table-margin_first {
    margin-right: 6px;
}

.table-margin_second {
    margin-left: 6px;
}

.table_light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(39, 43, 45, 0.30);
    border-radius: 5px;
}

.table_light th {
    color: #32373E;
    border-bottom: 1px solid #eae9f2;
    padding: 12px 17px;
}

.table_light td {
    color: #32373E;
    border-bottom: 1px solid #eae9f2;
    border-right: 1px solid #eae9f2;
    padding: 7px 17px;
}

.table_light tr:last-child td {
    border-bottom: none;
}

.table_light td:last-child {
    border-right: none;
}

.table_light:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.085);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.085);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 225px);
}

.table-title {
    color: #32373E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#accordeon {
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f0f2f5;
    width: 495px;
}

.acc-head {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    height: 45px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px rgba(39, 43, 45, 0.30);
}

.acc-body {
    padding: 10px;
    margin-bottom: 5px;
    display: none;
    font-size: 14px;
    line-height: 1.5;
    color: #66717f;
}

.acc-ul {
    display: block;
}

.acc-li {
    display: flex;
    align-items: center;
    line-height: 1.5;
    list-style: none;
    font-size: 15px;
    text-decoration: none;
}

.acc-li::before {
    content: "- ";
    /* position: absolute;
    background: #32373E;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 10px; */
}

.title-tables {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #32373E;
}

.student-info {
    display: flex;
}

.soldier {
    margin-left: 120px;
    width: 30%;
    height: 25%;
}

.title-teachers {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #32373E;
}

.boss-info {
    margin-bottom: 60px;
}

.boss-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boss-card {
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(39, 43, 45, 0.30);
}

.boss-card:hover {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.085);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.085);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.boss-img {
    width: 280px;
    height: 400px;
}

.boss-text {
    line-height: 1.5;
    text-align: center;
    font-size: 13px;
    margin: 10px;
}

/*end students*/

.study-info {
    display: block;
    margin-bottom: 30px;
}

.study-info-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #32373E;
}

.study-info-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.study-info-card {
    box-shadow: 0px 0px 2px rgba(39, 43, 45, 0.30);
    border-radius: 3px;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    padding: 40px;
    display: block;
    color: #32373E;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .shirt-info-card-mr:not(:last-child) {
    margin-right: 20px;
} */

.study-info-card-active {
    background-color: #BC945B;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.study-info-card-title {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.study-content {
    display: none;
    /* display: block; */
    color: #32373E;
    padding-bottom: 30px;
    /* border-bottom: 1px solid #f0f2f5; */
}

.visible {
    display: block;
}

.study-content-text {
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 20px;
    text-align: justify;
}

.video-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    /* border-bottom: 1px solid #f0f2f5; */
}

.text {
    color: #32373E;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 30px;
    text-align: justify;
}

.gallery {
    margin-bottom: 60px;
}

.gallery-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #32373E;
}

.gal-img {
    margin: 5px;
    display: flex;
    width: 323px;
    height: 235px;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.gal-img:hover {
    -webkit-filter: brightness(60%);
}

.gallery-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.gallery-items:hover {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #1A4575;
    height: 225px;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 400;
    /* text-transform: uppercase; */
    line-height: 1.5;
}

.footer-text {
    display: flex;
    padding-top: 30px;
    margin-bottom: 20px;
}

.footer-address-text {
    margin-right: 60px;
}

.footer-contact-text {
    margin-right: 60px;
}

.social-links {
    color: #1a4575;
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.footer-container {
    display: block;
}

div.guide{
    margin:2%;
}